---
import { Image } from 'astro:assets';
import Layout from '/src/layouts/Layout.astro';
import Footer from '/src/components/MainFooter.astro';

import logo from '/src/assets/SILLY.png';

import links from '/src/assets/links.json';

const badges = links[0] ?? [];
const stamps = links[1] ?? [];
const socialLinks = links[2] ?? [];

---

<Layout>

<div class="topbox">
<Image loading="eager" src={logo} alt="novas site logo" class="lefticon" height="200" format="png"/><h1 class="headtext"> Novas Site</h1>
</div>
<div class="mobilebox"><p class="splash">IM GOING TO FUCKING GET YOU</p></div>

<div class="box">
<b>hey there!</b><br>
you can call me alice or nova,
i go by <span class="trans">she/her</span>.<br>
im a 17 old ametuer web developer
and i enjoy jailbreaking and doing things im not supposed to.<br>
this site is entirely self developed<br>
you can find the source code <a href="https://github.com/bathtubfulloftoast/novassite">here.</a>
</div>

<div class="box">
<b>Main Projects</b><br>
Here are the main projects ive been working on, or just things i like to host and want to give special attention to
<br><a href="/blog">Blog</a>
<br><a href="//projects.novassite.net/files/">Random Files</a>
<!--<br><a href="//guestbook">Guest Book</a>-->
<br><a href="//wiki.novassite.net">Character Wiki</a>
<br><a href="/qr">Random Thing</a> (usually a redirect)
</div>

<div class="box">
<b>Side Projects</b><br>

some of the random single-file side projects ive decided to make<br>
<details>
<summary>Show Projects</summary>
  <a href="/">example</a><br>
</details>

</div>

<div class="box">
<div class="weatherparent">
<div class="weather">
<div><h1><a href="//google.com/search?q=hell">Weather for HELL</a></h1></div>
<div><h2 id="wdes">VERY HOT</h2></div>
<div><h3 id="temps">4500000000&deg;F</h3></div>
</div>
<div class="weathericon">
<a><img id="wico" src="/media/evil/HOT.png"></a>
</div>
</div>
<i><a href="//google.com/search?q=evil+weather" target="blank">powered by evilweathermap</a></i>
</div>

<div style="text-align:center" class="box">
<b>What Music am I Listening to?</b><br><br>
<div class="lastfm">
<div class="albumcover">
<img id="cover" src="/media/evil/evilseatheadrest.webp">
</div>
<h2 class="musicinfo" >
<span id="trackname" style="font-size:30px">Drunk to Life</span>
<br>
<span id="albumname" style="font-size:25px">Solo Reality</span>
<br>
<span id="artistname" style="font-size:20px">Evil Seat Headrest</span>
</h2>
<div class="listening">EVILLY LISTENING</div>
</div>
<div style="margin-top:5px;margin-bottom:-10px;"><i><a id="poweredby" href="https://www.last.fm" target="blank">powered by last.fm</a></i></div>
</div>

<div class="box">
<b>What WAS i listening to?</b><br>
<span id="previoustracks">
<i>[1d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/carrouvil.webp"> <span class='pastsong'>flair for the generic</span> - <span  class='pastartist'>Violet Horse</span><br>
<i>[2d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/lovesick.webp"> <span class='pastsong'>romantic vegan</span> - <span  class='pastartist'>GirlCrack</span><br>
<i>[3d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/bart.webp"> <span class='pastsong'>boy, so understanding</span> - <span  class='pastartist'>Charlie Charlie</span><br>
<i>[4d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilgenhoop.webp"> <span class='pastsong'>eh not right now.</span> - <span  class='pastartist'>videogenfew</span><br>
<i>[5d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilszn.webp"> <span class='pastsong'>hes so mean</span> - <span  class='pastartist'>PURPLE GUY</span><br>
<i>[6d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/feedhome.webp"> <span class='pastsong'>9 then</span> - <span  class='pastartist'>starvation apartment</span><br>
<i>[7d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilpatrol.webp"> <span class='pastsong'>lame abandonment</span> - <span  class='pastartist'>alone virgin man</span><br>
<i>[8d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/gecks.webp"> <span class='pastsong'>youyou</span> - <span  class='pastartist'>2 geck</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/creekflow.webp"> <span class='pastsong'>I'm Creekflow</span> - <span  class='pastartist'>Vylet Pony</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/tvgorl.webp"> <span class='pastsong'>photo about you</span> - <span  class='pastartist'>radio boy</span><br>
</span>
<div style="margin-top:10px;"><!-- I NEED ANOTHER MOTHERFUCKING DIV I JUST WANT IT TO BE A FEW PIXELS LOWER WHAT TH E FUCK -->
<i id="goals" style="display:block">listened to -1 song</i></div>
</div>
<div class="box" style="text-align:center">
<img src="/media/evil/disaproval.webp">
</div>


<div style="text-align:center" class="box">
<div  style="margin-bottom:5px;"><b>Badges :3</b></div><br> <!-- WHY DO I HAVE TO CREATE A DIV FOR EVERYTHING GOD DAMNIT -->
<div class="banners">
<section id="badges">
    {badges.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img loading="lazy" id={item.id} src={`/media/badges/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

<Footer />

</Layout>
