---
import '/src/styles/colors.css';
---
<head>
<title>guestbook</title>
<meta content="Novas Guestbook" property="og:title" />
<meta content="feel free to leave your mark on the site!" property="og:description" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta content="/media/icons/tobyclip.png" property="og:image" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<style is:global>
body {
background:var(--bg0);
color:var(--fg0);
font-family: Arial, sans-serif;

}

.post {
background:var(--bg3);
display:inline-block;
max-width:20vw;
margin:auto;
padding:5px;
border-radius:12px;
text-align:left;
margin:5px;
}

.post b {
font-size:18px;
color:var(--purple);
}

.post i {
font-size:13px;
color:var(--fg4)
}

.post span {
font-size:15px;
overflow-wrap: break-word;
overflow-y:scroll;
overflow-x:hidden;
display:block;
max-height:40px;
}

.postwrapper {
display:inline-block;
}

.message {
display:inline-block;
padding:5px;
margin:5px;
border-radius:10px;
}

.message.succ {
background:var(--green);
color:var(--fg1);
}

.message.fale {
background:var(--red);
color:var(--fg1);
}

input {
background:var(--bg4);
color:var(--fg0);
border:1px solid var(--fg3);
}

textarea {
background:var(--bg4);
color:var(--fg0);
border:1px solid var(--fg3);
}

#posts {
text-align:center;
}

.post span::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1280px) {
.postwrapper{
display:block;
text-align:center;
}

.post {
max-width:90vw;
width:90vw;
}

.post span {
max-height:100vw;
}
}
</style>
</head>

<div id="posts">
</div>



<hr>

<form id="form">

<label for="name">Name:</label>
<input type="text" id="name" maxlength="20" name="name" placeholder="Alice" required><br><br>

<label for="message">Message:</label><br>
<textarea type="text" maxlength="512"  rows="5" cols="50" id="message" name="message" placeholder="i love novassite.net" required></textarea><br><br>

<input type="submit" value="Submit">
</form>

<script>
document.addEventListener("DOMContentLoaded", async function() {

const response = await fetch('/api/guestbook');
// const response = await fetch('/guestbook.json');
var data = await response.json();

const wrapper = document.getElementById("posts");
wrapper.innerHTML = "";
for (var item of data.messages) {

const date = new Date(item.date);
var name = item.name;
name = name.replaceAll("<", "&lt;");
name = name.replaceAll(">", "&gt;");

var message = item.message;
message = message.replaceAll("<", "&lt;");
message = message.replaceAll(">", "&gt;");
message = message.replaceAll("\n", "<br>");


var dd = String(date.getDate()).padStart(2, '0');
var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = date.getFullYear();

let hours = date.getHours();
let minutes = date.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';

hours = hours % 12;
hours = hours ? hours : 12; // If hour is 0, set it to 12
minutes = minutes < 10 ? '0' + minutes : minutes;

const postwrap = document.createElement("div");
postwrap.className = "postwrapper";

const post = document.createElement("div");
post.className = "post";
post.innerHTML = `<b>${name}</b> <i>${mm}/${dd}/${yyyy} ${hours}:${minutes} ${ampm}</i><br><span>${message}</span>`;
wrapper.appendChild(postwrap);
postwrap.appendChild(post);

}


});
</script>

<script>
const form = document.getElementById("form");

form.addEventListener("submit", async function(event) {
event.preventDefault();
const name = form.name.value;
const message = form.message.value;

const response = await fetch("/api/guestbook", {
method: 'POST',
body: new URLSearchParams( {
'name': name,
'message': message,
}),
});

if(response.ok) {
form.innerHTML = `<div class="message succ">submission posted refresh the page to see it posted!</div>`;
}

const data = await response.json();

if(data.error) {
form.innerHTML = `<div class="message fale">${data.error}</div>`;
}

console.log(data);
})
</script>
