<!doctype html>
<html lang="en">
<meta charset="utf-8" />

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id="title">nickname</title>

<link id="tabicon" rel="icon">


<style>
body {
/* banner shit below :D */
background-color:var(--background-color);
background-image:var(--background-url);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height:100%;
color:#fff;
font-family: 'Trebuchet MS', sans-serif;
transition: background-color 0.3s, background-image 0.3s;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.box {
    background-color:#313338;
    border-radius: 1em;
    font-size:20px;
    margin-top:20px;
    padding:20px;
    text-align:center;
    filter: drop-shadow(5px 5px 5px #000);
}

.box img {
border-radius:100%;
width:128px;
height:128px;
background-color:#2b2d31;
margin-bottom:10px;
filter: drop-shadow(0px 0px 10px #000);

}

.box b {
color:#80848e;
filter: drop-shadow(0px 0px 3px #000);
}

.box h1 {
filter: drop-shadow(0px 0px 5px #000);
}

.buttons {
margin-top:20px;
filter: drop-shadow(3px 3px 3px #000);
}

.buttons button {
font-size:20px;
margin:5px;
background-color:#4e5058;
color:#fff;
border:none;
padding:5px;
border-radius:0.3em;
cursor:pointer;
transition: background-color 0.3s;
}

.buttons button:hover {
font-size:20;
background-color:#6d6f78;
}

@media screen and (max-width: 1280px){
.box {
background-color:rgba(0,0,0,0);
filter: drop-shadow(0 0 0 #000);
background-color:#222326;
}

body {
background-image:url(null);
background-color:#222326;
}
}
a {
text-decoration:none;
}
a i {
color:#070708;
font-size:12;
}
</style>
</head>
<div class="center-screen">
<div class="box">

<h1 id="nickname">nickname</h1>
<img id='avatar' src="/media/avatar.png"><br>
<b id="username">@username</b>
<br>

<div class="buttons">
<button title="open profile directly through discord" id="redirectButton">Open Profile</button>
<button title="copy username" id="copyuser">Copy User</button>
<button title="copy this page to your clipboard" id="copylink">Copy Link</button>
</div>
</div>
</div>

<!--
whats up again logangers
today were reviewing divs
see this shit?
actually absurd wtf
-->


<script>
let hash = window.location.hash; // Get the hash from the URL
let hashValue = hash.substring(1); // Remove the '#' character

// Construct the URL with the userid query parameter
let url = `/api/discord?userid=${hashValue}`;

// Use fetch to get data from that URL
fetch(url)
  .then(response => response.json()) // Assuming the server responds with JSON
  .then(data => {
    console.log(data); // Logs the data returned from the server
    const discriminator = data.discriminator;
    const username = data.username;
    const nickname = data.global_name || username;
    const userid = data.id;
    const avatarid = data.avatar;
    const bannercolor = data.banner_color||"#161cbb";
    const bannerid = data.banner;

    if (discriminator == 0) {
      document.getElementById("username").innerHTML = `@${username}`;
      window.usernameToCopy = `@${username}`;
    } else {
      document.getElementById("username").innerHTML = `${username}#${discriminator}`;
      window.usernameToCopy = `${username}#${discriminator}`;
    }

    window.directlink = `https://discord.com/users/${userid}`;

    var coverimage = document.getElementById("avatar");

    if (avatarid) {
      coverimage.src = `https://cdn.discordapp.com/avatars/${userid}/${avatarid}?size=256`;
      coverimage.onerror = function () {
    coverimage.src = '/media/avatar.png'; // Fallback image
};

      document.getElementById("tabicon").href = `https://cdn.discordapp.com/avatars/${userid}/${avatarid}?size=16`;
    } else {
      coverimage.src = `/media/avatar.png`;
    }

    document.getElementById("title").innerHTML = nickname;
    document.getElementById("nickname").innerHTML = nickname;
 document.documentElement.style.setProperty("--background-color", bannercolor);
if(bannerid) {
 document.documentElement.style.setProperty("--background-url", `url(https://cdn.discordapp.com/banners/${userid}/${bannerid}?size=2048)`);
}
  })
  .catch(error => {
    console.error('Error fetching data:', error);
  });
</script>

<script>
function toClipboard(text) {
    if ("clipboard" in navigator && typeof navigator.clipboard.writeText === "function") {
        // Chrome
        return navigator.clipboard.writeText(text)
        .then(() => true)
        .catch(() => false);
    } else {
        // Firefox
        const input = document.createElement("input");
        input.value = text;
        input.style.position = "fixed";
        input.style.top = "-2000px";
        document.body.appendChild(input);
        input.select();
        try {
            return Promise.resolve(document.execCommand("copy"))
            .then(res => {
                document.body.removeChild(input);
                return res;
            });
        } catch (err) {
            return Promise.resolve(false);
        }
    }
}

document.querySelector("#copyuser").addEventListener("click", function (e) {
    e.preventDefault();
    toClipboard(window.usernameToCopy)
    .then(res => console.log("copied", res));
});

document.querySelector("#copylink").addEventListener("click", function (e) {
    e.preventDefault();
    toClipboard(window.location.href)
    .then(res => console.log("copied", res));
});
</script>


<script>

document.querySelector("#redirectButton").addEventListener("click", function (e) {
    e.preventDefault();
    window.location.href = window.directlink;
});
</script>
