---
import 'dotenv/config';
import "xp.css/dist/XP.css";
import '/src/styles/desktop.css';
import '/src/styles/colors.css';

let devmode;

if (process.env.DEVMODE) {
devmode=`<h1 class="devmode">NovasSite DEVMODE</h1>`;
}
---
<head>
<meta charset="UTF-8" />
<meta name="darkreader-lock"/> <!-- i love how you can force disable dark reader (good feature but can be used for EVILLLLLL) -->
</head>

<div id="icons">
</div>

<div class="taskbar">
<div style="float:left"><a id="start" style="cursor:pointer;"><img fetchPriority="low" src="/media/start.gif"></a></div> <!-- no href because it adds select box -->
<div id="taskbar-icons"></div>


<div class="time" id="time">11:24 PM</div>
<div class="time" id="date" style="width:100px;word-spacing: -2px;">06 / 09 / 2007</div>
<div class="time"><a href="/media/secrets/clouds.mp4" id="wlnk" title="22&deg;C" target="_blank" ><img fetchPriority="low" src="/media/weather/16/03d.png" id="wimg" style="vertical-align: -2px;"> <span id="wtmp">72&deg;F</span></a></div>
<div class="time" style="width:32px;"><img id="muter" src="/media/unmute.png" style="vertical-align:text-top;width:20px;cursor:pointer;"></div>

<!-- <div class="time" style="width:40px"><img id="battery" class="battery" src="/blank.gif"></div> -->

</div>

<div id="loadingImg" style="background:#000;color:#fff;position:absolute;left:0;top:0;width:100vw;height:100vh;z-index:200;display:flex;align-items:center;text-align:center;justify-content:center;"><img style="width:35vh;image-rendering: pixelated;opacity:0;" fetchPriority="high" src="/media/loading.webp" id="sickassloadingimage"></div>

<Fragment set:html={devmode} />


<script src="/src/scripts/wallpaper.js"></script>
<script src="/src/scripts/openweather.js"></script>
<script src="/src/scripts/startup.js"></script>
<script src="/src/scripts/click.js"></script>

<script src="/src/scripts/gaster.js"></script>


<script src="/src/scripts/icons/ytps.js"></script>
<script src="/src/scripts/icons/speen.js"></script>
<script src="/src/scripts/icons/fun.js"></script>
<script src="/src/scripts/icons/brooklyn.js"></script>
<script src="/src/scripts/icons/brat.js"></script>
<script src="/src/scripts/icons/jules.js"></script>
<script src="/src/scripts/icons/azure.js"></script>
<script src="/src/scripts/icons/remember.js"></script>
<script src="/src/scripts/icons/lancer.js"></script>
<script src="/src/scripts/icons/amongus.js"></script>
<script src="/src/scripts/icons/mimi.js"></script>
<script src="/src/scripts/icons/charmer.js"></script>
<script src="/src/scripts/icons/lobotomy.js"></script>
<script src="/src/scripts/icons/girlyteengirl.js"></script>
<script src="/src/scripts/icons/gregg.js"></script>
<script src="/src/scripts/icons/toby.js"></script>
<script src="/src/scripts/icons/rotten.js"></script>
<script src="/src/scripts/icons/protogent.js"></script>
<script src="/src/scripts/icons/idiot.js"></script>
<script src="/src/scripts/icons/hitpoint.js"></script>
<script src="/src/scripts/icons/liberal.js"></script>
<script src="/src/scripts/icons/femt.js"></script>
<script src="/src/scripts/icons/deltarune.js"></script>
<script src="/src/scripts/icons/foodhouse.js"></script>
<script src="/src/scripts/icons/creekflow.js"></script>
<script src="/src/scripts/icons/win93.js"></script>
<script src="/src/scripts/icons/sawthesign.js"></script>
<script src="/src/scripts/icons/guestbook.js"></script>
<script src="/src/scripts/icons/wiki.js"></script>
<script src="/src/scripts/icons/dailyman.js"></script>
<script src="/src/scripts/icons/stupid.js"></script>

<script>
let now = new Date();
let hours = now.getHours();
let minutes = now.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';

hours = hours % 12;
hours = hours ? hours : 12;

minutes = minutes < 10 ? '0' + minutes : minutes;

document.getElementById("time").innerHTML = `${hours}:${minutes} ${ampm}`;
</script>

<script>
const now = new Date();
const month = String(now.getMonth()+1).padStart(2, '0');
const day = String(now.getDate()).padStart(2, '0');
const year = now.getFullYear();

document.getElementById("date").innerHTML = `${month} / ${day} / ${year}`;
</script>

<script>


async function createaudio() {


    const audioElement = new Audio("/media/sfx/fart.ogg");
    audioElement.volume = 0.2;
    audioElement.id = "shartmenu";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("start").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("shartmenu")) {
createaudio(); //ive removed the ability to spam im sorgy.
}
});

</script>

<script>
if(window.self == window.top) {
window.location.replace("/");
}
</script>

<script>
import {spawnwindow} from "/src/scripts/window.js";
import {splash} from "/src/scripts/splash.js";

document.addEventListener("DOMContentLoaded", async function() {
var width = window.innerWidth;
var height = window.innerHeight;
const splashtext = await splash();


spawnwindow({
title:splashtext,
icon:"/nova.png",
x:Math.round((width-800)/2),
y:Math.round((height-600)/2),
open:true,
src:"/profile/",
width:"800px",
height:"600px",
closable:false
})

spawnwindow({
title:"Misc",
icon:"/media/retro.png",
x:Math.round((width-800)/1.5),
y:Math.round((height-600)/5),
open:false,
src:"/misc/",
width:"800px",
height:"600px",
closable:false
})

// spawnwindow({
// title:"Blog",
// icon:"/media/blog.png",
// x:Math.round((width-800)/3),
// y:Math.round((height-600)/8),
// id:"blog",
// open:false,
// src:"/blog/",
// width:"800px",
// height:"600px"
// })

});
</script>
