---
import '/src/styles/colors.css';
---
<head>
<title>guestbook</title>
<meta content="Novas Guestbook" property="og:title" />
<meta content="feel free to leave your mark on the site!" property="og:description" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta content="/media/embeds/tobyclip.png" property="og:image" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<style is:global>
body {
background:var(--bg0);
color:var(--fg0);
font-family: Arial, sans-serif;
}

#submit {
cursor:pointer;
}

#submit:disabled {
border:none;
background:var(--bg2);
color:var(--fg2);
cursor:not-allowed;
}

a {
text-decoration:none;
}

a:link,a:visited {
color:var(--aqua);
}

a:hover {
color:var(--bright-aqua);
}

#navigator {
font-size:20px;
word-spacing:15px;
}

#navigator i {
font-size:16px;
word-spacing:0;
}

.post {
background:var(--bg3);
display:inline-block;
max-width:20vw;
margin:auto;
padding:5px;
border-radius:12px;
text-align:left;
margin:5px;
}

.post b {
font-size:18px;
color:var(--purple);
}

.post i {
font-size:13px;
color:var(--fg4)
}

.post span {
font-size:15px;
overflow-wrap: break-word;
overflow-y:scroll;
overflow-x:hidden;
display:block;
max-height:40px;
}

.postwrapper {
display:inline-block;
}

.message {
display:inline-block;
padding:5px;
margin:5px;
border-radius:10px;
}

input {
background:var(--bg4);
color:var(--fg0);
border:1px solid var(--fg3);
}

textarea {
background:var(--bg4);
color:var(--fg0);
border:1px solid var(--fg3);
}

#posts {
text-align:center;
}

.post span::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1280px) {
.postwrapper{
display:block;
text-align:center;
}

.post {
max-width:90vw;
width:90vw;
}

.post span {
max-height:100vw;
}
}
</style>
</head>

<div id="posts">
</div>

<div style="text-align:center;" id="navigator">
<i id="pagecount"></i><br>
<a id="first" href="#">&lt;&lt;</a> <a id="prev" href="#">&lt;-</a> <a href="#" id="next">-&gt;</a> <a href="#" id="last">&gt;&gt;</a>
</div>

<hr>

<form id="form">
<label for="name">Name:</label>
<input type="text" id="name" minlength="2" maxlength="20" name="name" placeholder="Alice" required><br><br>

<label for="message">Message:</label><br>
<textarea type="text" minlength="5" maxlength="512"  rows="2" cols="50" id="message" name="message" placeholder="i love novassite.net" required></textarea><br><br>

<input id="submit" type="submit" value="Submit">
</form>

<script>
const rootreq = "/api/guestbook";
let url = rootreq;
document.addEventListener("DOMContentLoaded", async function() {
var hash = window.location.hash;
hash = hash.substring(1);
hash = Number(hash);

if(hash < 1) {
hash = 1;
}


if(hash) {
url = `${rootreq}?page=${hash}`;
}

const response = await fetch(url);
// const response = await fetch('/guestbook.json');


var data = await response.json();



const nextpage = document.getElementById("next");
const previouspage = document.getElementById("prev");
const firstpage = document.getElementById("first");
const lastpage = document.getElementById("last");
const pagecount = document.getElementById("pagecount");


nextpage.addEventListener("click", async function(event) {
event.preventDefault();
window.location.replace(`#${hash+1}`);
await location.reload();
});

previouspage.addEventListener("click", async function(event) {
event.preventDefault();
window.location.replace(`#${hash-1}`);
await location.reload();
});

firstpage.addEventListener("click", async function(event) {
event.preventDefault();
window.location.replace(`#1`);
await location.reload();
});

lastpage.addEventListener("click", async function(event) {
event.preventDefault();
window.location.replace(`#${data.info.total_pages}`);
await location.reload();
});

if(data.info.total_pages == 1) {
document.getElementById("navigator").remove();
} else if (data.info.current_page <= 1) {
firstpage.remove();
previouspage.remove();
} else if (data.info.current_page >= data.info.total_pages) {
nextpage.remove();
lastpage.remove();
}

if (pagecount) {
pagecount.innerHTML = `Page ${data.info.current_page}/${data.info.total_pages}`;
}


const wrapper = document.getElementById("posts");
wrapper.innerHTML = "";
for (var item of data.messages) {

const date = new Date(item.date);
var name = item.name;
name = name.replaceAll("<", "&lt;");
name = name.replaceAll(">", "&gt;");

var message = item.message;
message = message.replaceAll("<", "&lt;");
message = message.replaceAll(">", "&gt;");
message = message.replaceAll("\n", "<br>");


var dd = String(date.getDate()).padStart(2, '0');
var mm = String(date.getMonth() + 1).padStart(2, '0');
var yyyy = date.getFullYear();

let hours = date.getHours();
let minutes = date.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';

hours = hours % 12;
hours = hours ? hours : 12;
minutes = minutes < 10 ? '0' + minutes : minutes;

const postwrap = document.createElement("div");
postwrap.className = "postwrapper";

const post = document.createElement("div");
post.className = "post";
post.innerHTML = `<b>${name}</b> <i>${mm}/${dd}/${yyyy} ${hours}:${minutes} ${ampm}</i><br><span>${message}</span>`;
wrapper.appendChild(postwrap);
postwrap.appendChild(post);

}

});
</script>

<script>
const form = document.getElementById("form");

form.addEventListener("submit", async function(event) {
event.preventDefault();
const name = form.name.value;
const message = form.message.value;

const response = await fetch("/api/guestbook", {
method: 'POST',
body: new URLSearchParams( {
'name': name,
'message': message,
}),
});

const data = await response.json();

if(response.ok) {
alert(`submission posted!\nplease wait ${Math.ceil(data.wait/1000)} seconds to make another post.`);

const date = new Date();

var dd = String(date.getDate()).padStart(2, '0');
var mm = String(date.getMonth() + 1).padStart(2, '0');
var yyyy = date.getFullYear();

let hours = date.getHours();
let minutes = date.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';
//mmmmmmm yummy copytingshit i love you i HATE YOUUUUU

hours = hours % 12;
hours = hours ? hours : 12;
minutes = minutes < 10 ? '0' + minutes : minutes;

const wrapper = document.getElementsByClassName("postwrapper");

const post = document.createElement("div");
post.className = "post";
post.innerHTML = `<b>${name}</b> <i>${mm}/${dd}/${yyyy} ${hours}:${minutes} ${ampm}</i><br><span>${message}</span>`;

form.name.value = "";
form.message.value = "";

wrapper[0].before(post);
if(wrapper.length >= 30) {//id rather grab the max post length from the api but i am NOT adding the max to the post api
wrapper[wrapper.length-1].remove();
}


form.submit.disabled = true;
await new Promise(r => setTimeout(r, data.wait));
form.submit.disabled = false;

} else {
if(data.error) {
form.submit.disabled = true;
alert(data.error);
await new Promise(r => setTimeout(r, data.wait));
form.submit.disabled = false;
} else {
alert("submission failed to post.");
return;
}
}



})
</script>
<script src="/src/scripts/click.js"></script>
