---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>GuestBook</title>
<style is:global>
#posts {
background:var(--bg0);
display:block;
overflow:hidden;
width:90vw;
margin:auto;
padding:10px;
margin-bottom:25px;
border-radius:2em;
height:100vh;
overflow:scroll;
}

.post {
background:var(--bg3);
display:block;
width:20%;
word-break: break-word;
padding:5px;
margin:auto;

margin-bottom:15px;
text-align:left;
border-radius:6px;

}

.names{
display:inline-block;
margin-bottom:3px;
color:var(--fg3);
font-size:15px;
}
</style>
</head>

<div id="posts"></div>

<form id="guestbook-form">
  <label for="name">Name:</label>
  <input type="text" id="name" maxlength="20" name="name" required><br><br>

  <label for="message">Message:</label><br>
  <textarea maxlength="246" rows="5" cols="50" id="message" name="message" required></textarea><br><br>

  <input type="submit" value="Submit">
</form>


<script>
    async function weather() {
        const response = await fetch('/api/guestbook');
        let data = await response.json();
        data.reverse();

        data.forEach(function(item) {
            const name = item.name;
            const message = item.message;
            const timestamp = item.timestamp;

            const time = new Date(timestamp);

            var dd = String(time.getDate()).padStart(2, '0');
            var mm = String(time.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = time.getFullYear();

            var h = String((time.getHours()) % 12 || 12).padStart(2, '0'); // Ensure 12 instead of 00
            var m = String(time.getMinutes()).padStart(2, '0');
            let ampm = time.getHours() >= 12 ? 'PM' : 'AM';

            const guestpost = document.createElement('div');
            guestpost.innerHTML = `<span class="names">${name} - ${mm}/${dd}/${yyyy} ${h}:${m} ${ampm}</span><br>${message}`;
            guestpost.className = "post";

            document.getElementById("posts").appendChild(guestpost);
        });
    }

document.addEventListener("DOMContentLoaded", weather);

  const form = document.getElementById('guestbook-form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Prevent default form redirect

    const formData = new FormData(form);

    const data = new URLSearchParams();
    for (const pair of formData) {
      data.append(pair[0], pair[1]);
    }

    try {
      const response = await fetch('/api/guestbook', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: data,
      });

      if (response.ok) {
        alert('Message submitted!');
        document.getElementById("posts").innerHTML = "";
        weather();
        form.reset();
      } else {
        alert('Failed to submit message.');
      }
    } catch (err) {
      console.error(err);
      alert('An error occurred.');
    }
  });
</script>
