---
import { Image } from 'astro:assets';
import Layout from '/src/layouts/Layout.astro';
import Footer from '/src/components/MainFooter.astro';

import logo from '/src/assets/SILLY.png';
import approval from '/src/assets/aproval.webp';

import links from '/src/assets/links.json';

const badges = links[0] ?? [];
const stamps = links[1] ?? [];
const socialLinks = links[2] ?? [];

const basePath = "/misc"; // Adjust this to match your deployment path

// Import all files, including those inside subfolders
const files = Object.keys(import.meta.glob('./misc/**/*.astro', { eager: true }));

// Convert file paths to valid Astro routes
const routes = files.map(file => {
  return file
    .replace('./misc', '') // Change base path
    .replace('/index.astro', '/') // Convert index files to folder paths
    .replace('.astro', '') // Remove .astro extension
    .replace('/', ''); // Remove .astro extension
});

// this is so fucked kill me
// this is so bodged but it works rn so fuck off

const birthTimestamp = 1181368800 * 1000; // Convert the Unix timestamp to milliseconds
const currentTimestamp = Date.now();

// Calculate the difference in milliseconds
const timeDifference = currentTimestamp - birthTimestamp;

// Convert milliseconds to years
const years = timeDifference / (1000 * 60 * 60 * 24 * 365.25); // Approximate years (365.25 to account for leap years)

// Display the age
const currentAge = `${Math.floor(years)} year`;

//compile my real birthday but also have it work client side too so i dont have to recompile every year :D
---

<Layout>

<div class="topbox">
<Image id="sitelogo" loading="eager" src={logo} alt="novas site logo" class="lefticon" height="200" format="png"/><h1 id="headtext" class="headtext"> Novas Site</h1>
</div>
<div class="mobilebox"><p id="splash" class="splash">SPLASH!</p></div>

<div id="maininfo" class="box">
<b>hey there!</b><br>
you can call me alice or nova,
i go by <span class="trans">she/her</span>.<br>
im a <span id="age">{currentAge}</span> old ametuer web developer
and i enjoy jailbreaking and doing things im not supposed to.<br>
this site is entirely self developed<br>
you can find the source code <a href="https://github.com/bathtubfulloftoast/novassite">here.</a><br>
<a id="playbgm" href="#">by the way, is there any music playing?</a>
</div>

<div class="box">
<b>Main Projects</b><br>
Here are the main projects ive been working on, or just things i like to host and want to give special attention to
<br><a href="/blog">Blog</a>
<br><a href="//cdn.novassite.net/dump/">Random Files</a>
<br><a href="/guestbook">Guest Book</a>
<br><a href="//wiki.novassite.net">Character Wiki</a>
<br><a href="/qr">Random Thing</a> (usually a redirect)
<br><a href="/discord/server">Discord Server</a>
</div>

<div class="box">
<b>Side Projects</b><br>

some of the random single-file side projects ive decided to make<br>
<details>
<summary>Show Projects</summary>
{routes.map(route => (
  <a href={basePath + "/" + route}>{route}</a><br>
))}
</details>

</div>

<div class="box">
<div class="weatherparent">
<div class="weather">
<div><h1><a id="location">Weather for Location</a></h1></div>
<div><h2 id="wdes">cloudy</h2></div>
<div><h3 id="temps">45&deg;F</h3></div>
</div>
<div class="weathericon">
<a id="cloudsecret" href="/secret/clouds.mp4"><img id="wico" src="/media/weather/256/03d.png"></a>
</div>
</div>
<i><a href="https://openweathermap.org/" target="blank">powered by openweathermap</a></i>
</div>

<div style="text-align:center" class="box">
<b>What Music am I Listening to?</b><br><br>
<div class="lastfm">
<a id="mainfmlink"  target="blank">
<div class="albumcover">
<img id="cover" src="/media/missing512.jpeg">
</div>
<h2 class="musicinfo" >
<span id="trackname" style="font-size:30px">A Song</span>
<br>
<span id="albumname" style="font-size:25px">On An Album</span>
<br>
<span id="artistname" style="font-size:20px">By An Artist</span>
</h2></a>
<div id="nowplaying">now loading...</div>
</div>
<div style="margin-top:5px;margin-bottom:-10px;"><i><a id="poweredby" href="https://www.last.fm" target="blank">powered by last.fm</a></i></div>
</div>

<div class="box">
<b>What WAS i listening to?</b><br>
<span id="previoustracks">
<i>[1d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[2d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[3d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[4d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[5d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[6d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[7d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[8d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/missing16.jpeg"> <span class='pastsong'>track</span> - <span  class='pastartist'>artist</span><br>
</span>
<div style="margin-top:10px;"><!-- I NEED ANOTHER MOTHERFUCKING DIV I JUST WANT IT TO BE A FEW PIXELS LOWER WHAT TH E FUCK -->
<i id="goals" style="display:block">listened to 10000000000 songs :D</i></div>
</div>
<div class="box" style="text-align:center">
<Image src={approval} alt="Aliceflow Aproved" />
</div>


<div style="text-align:center" class="box">
<div  style="margin-bottom:5px;"><b>Badges :3</b></div><br> <!-- WHY DO I HAVE TO CREATE A DIV FOR EVERYTHING GOD DAMNIT -->
<div class="banners">
<section id="badges">
    {badges.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" id={item.id} src={`/media/badges/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>


<div style="text-align:center" class="box">
<div style="margin-bottom:5px;"><b>Stamps :0</b></div><br> <!-- WHY DO I HAVE TO CREATE A DIV FOR EVERYTHING GOD DAMNIT -->
<div class="banners">
<section id="stamps">
    {stamps.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" src={`/media/stamps/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

<div class="box">
<div class="links">
<section id="links">
    {socialLinks.map((item) => (
        <div class="link">
            <a href={item.url}>
                <i title={item.title} class={item.source}>{item.title}</i>
            </a>
        </div>
    ))}
</section>
</div>
</div>
    <Footer />

</Layout>
<script is:inline src="https://kit.fontawesome.com/3c882d8d47.js" crossorigin="anonymous"></script>
<script src="/src/scripts/splash.js"></script>
<script src="/src/scripts/openweather.js"></script>
<script src="/src/scripts/randomsite.js"></script>
<script src="/src/scripts/lastfm.js"></script>
<script src="/src/scripts/playbgm.js"></script>

<script is:inline src="/oneko.js"></script>

<script src="/src/scripts/age.js"></script>

<script>
document.cookie = "alicesnote=Alice Wuz Here :3";
</script>
