---
import "xp.css/dist/XP.css";
import '/src/styles/desktop.css';
import '/src/styles/colors.css';

import desktop from '/src/assets/desktop.json';
const icons = desktop;

import IScript from '/src/components/iconscript.astro';
---
<head>
<title>NovasDesktop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<meta name="generator" content={Astro.generator} />
<meta content="Novas Site" property="og:title" />
<meta content="Novas Desktop, free for all to see!" property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
</head>


<div class="center-screen"  >
<div style="display:inline-block;z-index:5;padding:0px;margin:0px" id="window">
  <div class="title-bar">
    <div class="title-bar-text"><img src="/media/retro.png" height="16px" style="vertical-align: text-top;"> <span id="splash">Nova's Profile</span></div>
    <div class="title-bar-controls">
      <button style="cursor:pointer" aria-label="Minimize" onclick="location.href='/death';"></button>
      <button style="cursor:pointer" aria-label="Maximize" onclick="location.href='/profile';"></button>
      <button style="cursor:pointer" aria-label="Close" onclick='document.getElementById("window").remove()'></button>
    </div>
  </div>
  <div style="padding:0px;margin:0px">
<iframe style="padding:0px;margin:0px;border-left:1px solid #0831d9;border-top:none;border-right:1px solid #001ea0;border-bottom:2px solid #001ea0;background:#ece9d8" src="/profile" width="800px" height="600px;" frameBorder=""></iframe>
</div>
</div>
</div>

<div class="bnuy"></div>

<div class="icons">
{icons.map((item) => (
<div class="icon" id={item.id}>
<img src={`/media/icons/${item.icon}`} alt={item.filename} /><br>
<span>{item.filename}</span>
</div>
))}
</div>

<div class="taskbar">
<div style="float:left"><a id="start" style="cursor:pointer;"><img src="/media/start.gif"></a></div> <!-- no href because it adds select box -->

<div class="time" id="time">11:24 PM</div>
<div class="time"><a href="/media/secrets/clouds.mp4" id="wlnk" title="22&deg;C" target="_blank" ><img src="/media/weather/16/03d.png" id="wimg" style="vertical-align: -2px;"> <span id="wtmp">72&deg;F</span></a></div>

</div>

<span style="background:#fff">welcome to boundary break where we basically take the camera anywhere we want</span><br>
<video src="/media/secrets/electroricardo.mp4" preload="none" controls></video>
<br>
watch as hit star ricardo milos does a funny dance with a funnier backing track!<br>
there is nothing else about this video worth mentioning<br>
also if youre on mobile youre a cheater how dare you<br>
edit your browsers css like the desktop users you CHEATER
<script src="/src/scripts/splash.js"></script>
<script src="/src/scripts/openweather.js"></script>

<script>
let now = new Date();
let hours = now.getHours();
let minutes = now.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';

hours = hours % 12;
hours = hours ? hours : 12;

minutes = minutes < 10 ? '0' + minutes : minutes;

document.getElementById("time").innerHTML = `${hours}:${minutes} ${ampm}`;
</script>

<script>
document.addEventListener("DOMContentLoaded", async function() {
const width = window.outerWidth;
let hash = window.location.hash;
let hashValue = hash.substring(1);

if (width<1500) {
if (hashValue !== "fromtree") {
window.location.replace("/tree#warn");
}
}
// pulling a yandev lol
});
</script>

<script>

const audioUrl = "/media/sfx/fart.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "shartmenu";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("start").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("shartmenu")) {
createaudio(); //ive removed the ability to spam im sorgy.
}
});

</script>

<IScript />
