---
import "xp.css/dist/XP.css";
import '/src/styles/desktop.css';

import desktop from '/src/assets/desktop.json';
const icons = desktop;
---
<head>
<title>NovasDesktop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<meta name="generator" content={Astro.generator} />
<meta content="Novas Site" property="og:title" />
<meta content="Novas Desktop, free for all to see!" property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
</head>


<div class="center-screen"  >
<div style="display:inline-block;z-index:5;padding:0px;margin:0px" id="window">
  <div class="title-bar">
    <div class="title-bar-text"><img src="/favicon.ico" height="16px" style="vertical-align: text-top;"> <span id="splash">Nova's Profile</span></div>
    <div class="title-bar-controls">
      <button style="cursor:pointer" aria-label="Minimize" onclick='document.getElementById("window").remove()'></button>
      <button style="cursor:pointer" aria-label="Maximize" onclick="location.href='/profile';"></button>
      <button style="cursor:pointer" aria-label="Close" onclick="location.href='/death';"></button>
    </div>
  </div>
  <div style="padding:0px;margin:0px">
<iframe style="padding:0px;margin:0px;border-left:1px solid #0831d9;border-top:none;border-right:1px solid #001ea0;border-bottom:2px solid #001ea0;background:#ece9d8" src="/profile" width="800px" height="600px;" frameBorder=""></iframe>
</div>
</div>
</div>



{icons.map((item) => (
<div class="icon" style={`left: ${item.left}px; top: ${item.top}px;`} id={item.id}>
<img src={`/media/icons/${item.icon}`} /><br>
{item.filename}
</div>
))}


<div class="taskbar">
<div style="float:left"><a id="start" style="cursor:pointer;"><img src="/media/start.gif"></a></div> <!-- no href because it adds select box -->

<div class="time" id="time">11:24 PM</div>
</div>

<span style="background:#fff">welcome to boundary break where we basically take the camera anywhere we want</span><br>
<video src="/media/secrets/electroricardo.mp4" preload="none" controls></video>
<br>
watch as hit star ricardo milos does a funny dance with a funnier backing track!<br>
there is nothing else about this video worth mentioning<br>
also if youre on mobile youre a cheater how dare you<br>
edit your browsers css like the desktop users you CHEATER
<script src="/src/scripts/splash.js"></script>

<script>
let now = new Date();
let hours = now.getHours();
let minutes = now.getMinutes();
let ampm = hours >= 12 ? 'PM' : 'AM';

hours = hours % 12;
hours = hours ? hours : 12;

minutes = minutes < 10 ? '0' + minutes : minutes;

document.getElementById("time").innerHTML = `${hours}:${minutes} ${ampm}`;
</script>

<script>
document.addEventListener("DOMContentLoaded", async function() {
const width = window.screen.width;
const height = window.screen.height;


const warningScreen = document.createElement('div');
warningScreen.className = "warningscreen";
warningScreen.id = "warningscreen";
warningScreen.innerHTML = "this site is meant for desktops that are 1080p<br>it seems you are not that.<br>if youre on mobile expect EVERYTHING to be broken<br>if youre on desktop with a screen that isnt 1080p expect less issues.<br><button id='warning-remove'>remove this popup</button> <button id='warning-profile'>go to profile screen (i recommend rotating your phone)</button>";


async function screensize() {
if (width<1500) {
document.body.appendChild(warningScreen);
}
}

screensize()


document.getElementById("warning-remove").addEventListener("click", function(event) {
event.preventDefault();
// document.cookie = "warningscreen=ignore";
document.getElementById("warningscreen").remove();

});

document.getElementById("warning-profile").addEventListener("click", function(event) {
event.preventDefault();
// document.cookie = "warningscreen=profile";
window.location.replace("/profile");
});

});
</script>

<script>

const audioUrl = "/media/sfx/fart.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "shartmenu";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("start").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("shartmenu")) {
createaudio(); //ive removed the ability to spam im sorgy.
}
});

</script>

<script>
const audioUrl = "/media/sfx/speen.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "speenaudio";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
window.open("https://youtu.be/FSHq5I8I0Wk?t=3", '_blank'); // SPINN1!!!1\
// also fuck you no spamming
audioElement.remove();
});

};

document.getElementById("speen").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("speenaudio")) {
createaudio();
}
});

</script>

<script>
document.getElementById("douchebag").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://youtu.be/Hw1ncADC9KM", '_blank');
})
</script>

<script>
const audioUrl = "/media/sfx/fun.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "pinkieaudio";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
window.open("https://youtu.be/b1Vjorjlon4", '_blank'); // i will be reusing this code again out of sheer laziness fuck you
audioElement.remove();

});

};

document.getElementById("pinkie").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("pinkieaudio")) {
createaudio();
}
});

</script>

<script>
const audioUrl = "/media/sfx/vineboom.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "azureaudio";


    const imageElement = document.createElement('img');
    imageElement.src = "/media/icons/azure.gif";
    imageElement.style.position = "absolute";
    imageElement.style.left = 0;
    imageElement.style.top = 0;
    imageElement.style.zIndex = 150;
    imageElement.style.width = "100vw";
    imageElement.style.height = "100vh";


    document.body.appendChild(audioElement);
    document.body.appendChild(imageElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
imageElement.remove();
window.open("https://azurecomettttt.carrd.co/", '_blank');
});
};

document.getElementById("azure").addEventListener("click", function(event) {
event.preventDefault();

createaudio();

});

</script>

<script>
const audioUrl = "/media/sfx/splat.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("lancer").addEventListener("click", function(event) {
createaudio();

});

</script>

<script>
const amongusvideos = [
"Ns3YxbIhTRM",
"yIHa5cjuTBk",
"PShRULA8sOY",
"6yvfU8xK_VQ",
"GYtBoxGB6Wo",
"KByREO4gB0M",
"oZ-51rj2_WI",
"4kzxy8eIjLI",
"SB0jgNzKMSo"
];
const max = amongusvideos.length;



document.getElementById("amongus").addEventListener("click", function(event) {
event.preventDefault();
const id = Math.floor(Math.random() * max);
let url = 'https://youtu.be/'+amongusvideos[id];

window.open(url, '_blank');// sus sus...
})
</script>

<script>
const audioUrl = "/media/sfx/mimi.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.2;
    audioElement.id = "pinkieaudio";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("eepster").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("pinkieaudio")) {
createaudio();
}
});

</script>


<script>
const audioUrl = "/media/sfx/tf2notif.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.5;


    const imageElement = document.createElement('img');
    imageElement.src = "/media/icons/full/liberals.png";
    imageElement.id = "liberalsimg";
    imageElement.style.zIndex = 151;
    imageElement.style.width = "100vw";
    imageElement.style.position = "fixed";
    imageElement.style.top = "30vh";


    const container = document.createElement('div');
    container.id = "liberalcontainer";
    container.style.position = "absolute";
    container.style.left = 0;
    container.style.top = 0;
    container.style.zIndex = 150;
    container.style.width = "100vw";
    container.style.height = "100vw";
    container.style.background = "black";



    document.body.appendChild(audioElement);
    document.body.appendChild(container);

    container.appendChild(imageElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
container.remove();

});
};

document.getElementById("liberals").addEventListener("click", function(event) {
event.preventDefault();

createaudio();

});

//this code has become illegible.
// idc tho thats an issue for me in the future lmao

//fuck you.
</script>

<script>
const audioUrl = "/media/sfx/lobotomy.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.08;


    const container = document.createElement('div');
    container.style.position = "absolute";
    container.style.left = 0;
    container.style.top = 0;
    container.style.zIndex = 150;
    container.style.width = "100vw";
    container.style.height = "100vw";
    container.style.background = "white";



    document.body.appendChild(audioElement);
    document.body.appendChild(container);



    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
container.remove();

});
};

document.getElementById("gettingyou").addEventListener("click", function(event) {
event.preventDefault();
createaudio();
});

</script>

<script>
document.getElementById("enid").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://www.youtube.com/results?search_query=enid+ok+ko+fancam", '_blank');
})
</script>

<script>
document.getElementById("teengirl").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://www.reddit.com/R/girlyteengirlhate/", '_blank');
})
</script>

<script>
document.getElementById("spaunch").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://github.com/trakBan/spongebob-cli", '_blank');
})
</script>

<script>
const audioUrl = "/media/sfx/love.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.5;
    audioElement.id = "azureaudio";


    const imageElement = document.createElement('img');
    imageElement.src = "/media/icons/full/winning smile.png";
    imageElement.style.position = "absolute";
    imageElement.style.left = 0;
    imageElement.style.top = 0;
    imageElement.style.zIndex = 150;
    imageElement.style.width = "100vw";
    imageElement.style.height = "100vh";


    document.body.appendChild(audioElement);
    document.body.appendChild(imageElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
imageElement.remove();
});
};

document.getElementById("charmer").addEventListener("click", function(event) {
event.preventDefault();

createaudio();

});

</script>

<script>
document.getElementById("yayl").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://gamejolt.com/games/YaYL/818150", '_blank');// i have to advertize i asked people for icons and they delivered im sorry
})
</script>

<script>
const audioUrl = "/media/sfx/MEGALOVANIA.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 1;


    const imageElement = document.createElement('img');
    imageElement.src = "/media/BLUE.PNG";
    imageElement.style.position = "absolute";
    imageElement.style.left = 0;
    imageElement.style.top = 0;
    imageElement.style.zIndex = 150;
    imageElement.style.width = "100vw";
    imageElement.style.height = "100vh";


    document.body.appendChild(audioElement);
    document.body.appendChild(imageElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
window.open("https://youtu.be/P_nvW4TeF3M", '_blank');
window.location.reload();
});
};

document.getElementById("remember").addEventListener("click", function(event) {
event.preventDefault();
createaudio();
});

</script>

<script>
const audioUrl = "/media/sfx/buddy.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.3;


    const imageElement = document.createElement('img');
    imageElement.src = "/media/icons/full/delta.png";
    imageElement.style.position = "absolute";
    imageElement.style.left = 0;
    imageElement.style.top = 0;
    imageElement.style.zIndex = 150;
    imageElement.style.width = "100vw";
    imageElement.style.height = "100vh";


    document.body.appendChild(audioElement);
    document.body.appendChild(imageElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
imageElement.remove();
audioElement.remove();
});
};

document.getElementById("deltarune").addEventListener("click", function(event) {
event.preventDefault();
createaudio();
});

</script>

<script>
const katamari = "/media/sfx/katamari intro.ogg";
const fuck = "/media/sfx/fuckthat.ogg"; //ey... fucj that...
const murder = "/media/sfx/murderevery1intro.ogg";


let katamariBlob = null;
let fuckBlob = null; // blob hater fuck that guy
let murderBlob = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    katamariBlob = await fetchBlob(katamari);
    fuckBlob = await fetchBlob(fuck);
    murderBlob = await fetchBlob(murder);
}

preloadBlobs();

async function createaudio() {

    const katamariBlob = await fetchBlob(katamari);
    const fuckBlob = await fetchBlob(fuck);
    const murderBlob = await fetchBlob(murder);

    const katamariElement = document.createElement('audio');
    katamariElement.src = katamariBlob;
    katamariElement.volume = 0.3;

    const fuckElement = document.createElement('audio');
    fuckElement.src = fuckBlob;
    fuckElement.volume = 0.3;

    const murderElement = document.createElement('audio');
    murderElement.src = murderBlob;
    murderElement.volume = 0.3;

    const femtIMG = document.createElement('img');
    femtIMG.src = "/media/icons/femt.gif";
    femtIMG.style.position = "absolute";
    femtIMG.style.left = 0;
    femtIMG.style.top = 0;
    femtIMG.style.zIndex = 150;
    femtIMG.style.width = "100vw";
    femtIMG.style.height = "100vh";

    const loveSICK = document.createElement('img');
    loveSICK.src = "/media/LOVESICK.png";
    loveSICK.id = "liberalsimg";
    loveSICK.style.zIndex = 151;
    loveSICK.style.height = "100vh";


    const container = document.createElement('div');
    container.style.position = "absolute";
    container.style.left = 0;
    container.style.top = 0;
    container.style.zIndex = 150;
    container.style.width = "100vw";
    container.style.height = "100vw";
    container.style.background = "black";
    container.style.textAlign = "center";

    document.body.appendChild(katamariElement);
    document.body.appendChild(fuckElement);
    document.body.appendChild(murderElement);

    document.body.appendChild(femtIMG);


    katamariElement.play();

katamariElement.addEventListener('ended', (event) => {
katamariElement.remove();
fuckElement.play();
});

fuckElement.addEventListener('ended', (event) => {
fuckElement.remove();
document.body.appendChild(container);
container.appendChild(loveSICK);
femtIMG.remove();
murderElement.play();
});

murderElement.addEventListener('ended', (event) => {
murderElement.remove();
container.remove();
window.open("https://femtanyl.bandcamp.com/track/murder-every-1-u-know-feat-takihasdied-2", '_blank');
});
};

document.getElementById("femt").addEventListener("click", function(event) {
event.preventDefault();
createaudio();
});

</script>

<script>
document.getElementById("foodhouse").addEventListener("click", function(event) {
event.preventDefault();
window.open("https://youtu.be/aeufEIA2qYE?t=39", '_blank');// waiting for a funny review of two house if anyone can give that to me my life is yours
})
</script>

<script>
const sauce = [
"0tdyU_gW6WE",
"1qVRxy9fuTU",
"3YGst2a--t8",
"3hPLhIUtoD4",
"6-DLSjIpMmA",
"6Ajhzlq42f0",
"7KMTeJdazK4",
"9BaWt_BrYUg",
"BCPkXp9K0D0",
"CYXJYQZ3FX0",
"FuX5_OWObA0",
"GTh5J0HsIAg",
"Hijh2ox9CEg",
"HmzGmmq0Jms",
"Jl6lee2wyPQ",
"Kl8EiGLJOCk",
"NagoHr74Jko",
"PGJKeESLBpQ",
"PGfhtLrwiKo",
"U4eVHaeYahU",
"UUbS6UjkfBM",
"U_CaPYe5kEs",
"VZ3DEnvJ464",
"VoWRSM2_DF0",
"X0pEBE_eYdU",
"XBMg5s_TZWk",
"Y-dMSstLDqM",
"YDQ3mvd64Uc",
"YidRNvL535I",
"ZI4LGTXscR4",
"ZsUoefdaoo0",
"Zv-XNlE1s8E",
"b8HO6hba9ZE",
"bfBO5dGlmrE",
"c9ilXkkwGu4",
"dZyxheCtYx8",
"ddWJatRxfz8",
"eGrg6JHlByw",
"ePw3wZxdGio",
"f8tGW5B43o8",
"fU3jfk-O7L0",
"iV0aIfJPT-w",
"klwIOSCJFSA",
"lFl1_3Eq__0",
"lGJBUauU-CE",
"lSc-t9YBvkk",
"rG_Ue3t17l0",
"rjRV0G6qWgw",
"ruM7pRYjCH0",
"rzLIUgnKY40",
"t9HUyHmLFzA",
"tcjCfJbYAzg",
"upf_xYgkBIQ",
"iV0aIfJPT-w",
"mAQDkPrM1uI",
"2XvILfdj52Q",
"_wYQAGANgL0",
"AWDeOiZHPhY",
"vcPvbojUmuw",
"kBKr8YLuVgs",
"lRpxecLkUHQ",
"hiRacdl02w4",
"Q16KpquGsIc",
"f8tGW5B43o8",
"w6bIKJHiaLo",
"F7nmBtSYdlg",
"CwWvNA5eJxw",
"Ja5BDtMybBA",
"7XvUCC9-y50",
"BeLTb17dioM",
"5haJCngMP1I",
"sJXag2HYT94",
"0SPjy9o20QQ",
"x3NhDbzD_zw",
"JkaMIFqm5cI",
];
// note to self dont add anything that reminds you of the awful reality and lack of creativity that consumes the modern world

const max = sauce.length;


const audioUrl = "/media/sfx/ytp.ogg";


let audioBlobUrl = null;


async function fetchBlob(url) {
    const response = await fetch(url);
    const blob = await response.blob();
    return URL.createObjectURL(blob);
}

async function preloadBlobs() {
    audioBlobUrl = await fetchBlob(audioUrl);
}

preloadBlobs();

async function createaudio() {

    const audioBlobUrl = await fetchBlob(audioUrl);

    const audioElement = document.createElement('audio');
    audioElement.src = audioBlobUrl;
    audioElement.volume = 0.5;
    audioElement.id = "ytpaudio";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
const id = Math.floor(Math.random() * max);
let url = 'https://youtu.be/'+sauce[id];
// this was the first code to optimize storing the video links
// i feel bad for it because im not renaming the code fuck you

window.open(url, '_blank');
audioElement.remove();
});

};

document.getElementById("tarsh").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("ytpaudio")) {
createaudio();
}
});

</script>
