---

import "xp.css/dist/XP.css";
import '/src/styles/userpage.css';
import '/src/styles/colors.css';

import links from '/src/assets/links.json';
const badges = links[0] ?? [];
const stamps = links[1] ?? [];
const socials = links[2] ?? [];

import Footer from '/src/components/sysinfo.astro';
---
<head>
<title>Nova's Profile</title>
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8" />
</head>

<div class="top">
<img id="pfp" src="/media/pfp.png">

<span id="username">Nova</span><br>
<span id="status">girls.....</span><br>

<span id="creationdate">Account Created: 06/09/2007</span><br><br>

<div><img id="onlineimg" src="/blank.gif" class="sprite offline">
<span id="online">Offline</span>

<img src="/blank.gif" class="sprite friend">
<a id="addfriend" href="/media/secrets/g dance.mp4" target="_blank">Add Friend</a>
</div>
</div>

<div class="bottom">
<div class="interests">
<b>Interests</b><br><br>

General:<br>
Girls (hmu)
<br><br>

Recent Music:<br>
<span id="recentsongs">
I WANT TO LIVVVEEEE
<br>
</span>
<br>

Current Fav Music:<br>
<span id="topsongs">
BEFORE I LOAD IN PLEASE TELL MY WIFE I LOVE HER I LOVE HER I DONT WANT TO DIE PLEASE ALSO SO I DONT GET SUED THIS IS POWERED BY LAST.FM
<br>
</span>
<br>

Recent Games:<br>
<span id="recentgames">
valve... made... steam... holy shit.
<br>
</span>
<br>

Fav Games:<br>
Minecraft<br>
Deltarune<br>
Garrys Mod<br>
Splatoon<br>
Tomodachi Life<br>
Animal Crossing<br>
Marble Blast Ultra<br>
People Playground<br>
Forager<br>
Portal 1<br>
Portal 2<br>
Half-Life 1<br>
Half-Life 2<br>
<s>Half-li</s><br>
Omori<br>
AMONGUS<br>
Night in The Woods<br>
Goat Simulator<br>
Peggle<br>
Jazzpunk<br>
Mouthwashing<br>
UNO (Xbox 360)<br>
Minecraft Story Mode<br><!-- still pissed off about the season pass disk that didnt PASS THE FUCKING SEASON YOU ASSHOLES IM GLAD YOU WENT BANKRUPT -->
<br><br>

Fav Movies:<br>
Scott Pilgrim VS. The World<br>
A Minecraft Movie<br>
The Truman Show<br>
Spider-Man (2002)<br>
Spider-Man 2<br>
Spider-Man 3<br>
The Amazing Spider-Man<br>
The Amazing Spider-Man 2<br>
Spider-Man: Homecoming<br>
Spider-Man: Far From Home<!-- okay this one was sorta mid ima be fr --><br>
Spider-Man: No Way Home<br>
Into The Spider-Verse<br>
Beyond the Spider-Verse
<br><br>

Fav Shows:<br>
Smiling Friends<br>
Invader Zim<br>
Adventure Time<br>
Teen Titans<br>
my Little Pony (FIM)<br>
Scott Pilgrim Takes Off<br>
Steven Universe (sadly)<br>
Gravity Falls<br>
Aggretsuko<br>
Bee And PuppyCat<br>
Inside Job
<br><br>

Socials:<br>
<section id="socials">
    {socials.map((item) => (
        <a title={item.title} href={item.url} target="_blank">{item.title}</a><br>
    ))}
</section>
</div>

<div class="blurbs">

<div class="blurb">
<b>About Me:</b><br>
hey there, im alice/nova and im an <span id="age">age</span> old developer doing random shit<br>
i enjoy hacking consoles and messing with technology<br>
this site is entirely self developed, you can find the source on <a target="_top" href="https://github.com/bathtubfulloftoast/novassite">github</a> or <a target="_top" href="https://git.gay/bathtubfulloftoast/novassite">git.gay</a>
</div>

<div class="blurb">
<b>More of Me:</b><br>
so alongside this site i run a <a href="//wiki.novassite.net" target="_top">wiki for my characters</a> i also have <a href="/misc" target="_top">a few other random projects</a> alongside a <a href="/blog" target="_top">blog</a> and dont forget the <a href="//cdn.novassite.net/dump" target="_top">file dump</a> oh and to make this site work so closely with <a href="/discord/server" target="_top">my discord</a> it runs as <a href="/discord/bot" target="_top">a bot</a> so check either of those out if you'd like!
</div>

<div class="blurb">
<b>Last.fm Stats:</b><br>
<span id="fmstats">9999 total scrobbles<br>
im only 1 more till 10000!<br>
thats around 3 minutes worth of music...<br>
itl take about 3 minutes to reach my goal<br>
(with an average of 20000 songs per day)</span>
</div>

<div id="activities"></div>

<div class="blurb">
<b>Nintendo Wii:</b><br>
<img src="/media/wii.jpg" height="100px" width="400px">
</div>

<div class="blurb">
<b>Badges:</b><br><br>
<div class="badges">
<section id="badges">
    {badges.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" id={item.id} src={`/media/badges/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

<div class="blurb">
<b>Stamps:</b><br><br>
<div class="badges">
<section id="stamps">
    {stamps.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" id={item.id} src={`/media/stamps/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

    <Footer />


</div>

</div>

<script src="/src/scripts/discordprofile.js"></script>
<script src="/src/scripts/topfm.js"></script>
<script src="/src/scripts/recentfm.js"></script>
<script src="/src/scripts/randomsite.js"></script>
<script src="/src/scripts/oneko.js"></script>
<script src="/src/scripts/fmstats.js"></script>
<script src="/src/scripts/steamrecent.js"></script>
<script src="/src/scripts/fmbackup.js"></script>


<script>
document.addEventListener('DOMContentLoaded', async function() {
    const birthTimestamp = 1181368800 * 1000; // Convert Unix timestamp to milliseconds
    const currentTimestamp = Date.now();

    // Calculate the difference in milliseconds
    const timeDifference = currentTimestamp - birthTimestamp;

    // Convert milliseconds to years
    const years = timeDifference / (1000 * 60 * 60 * 24 * 365.25);

// Display the age
const currentAge = `${Math.floor(years)} year`;
document.getElementById("age").innerHTML = currentAge;
});
</script>

