---

import "xp.css/dist/XP.css";
import '/src/styles/userpage.css';
import '/src/styles/colors.css';

import links from '/src/assets/links.json';
const badges = links[0] ?? [];
const stamps = links[1] ?? [];
const socials = links[2] ?? [];

import Footer from '/src/components/sysinfo.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);


---
<head>
<title>Nova's Profile</title>
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8" />
<meta name="darkreader-lock"/>
</head>

<div class="top">
<img fetchPriority="high" id="pfp" src="/media/pfp.png">

<span id="username">Nova</span><br>
<span id="status"><i style="color:var(--fg3)">away message:</i> its all about the game.</span><br>

<span id="creationdate">Account Created: 06/09/2007</span><br><br>

<div><img fetchPriority="low" id="onlineimg" src="/blank.gif" class="sprite offline">
<span id="online">Offline</span>

<img fetchPriority="low" src="/blank.gif" class="sprite friend">
<a id="addfriend" href="/media/secrets/g dance.mp4" target="_blank">Add Friend</a>
</div>
</div>

<div class="bottom">
<div class="interests">
<b>Interests</b><br><br>

General:<br>
Girls (hmu)
<br><br>

Recent Music:<br>
<span id="recentsongs">
I WANT TO LIVVVEEEE
<br>
</span>
<br>

Current Fav Music:<br>
<span id="topsongs">
BEFORE I LOAD IN PLEASE TELL MY WIFE I LOVE HER I LOVE HER I DONT WANT TO DIE PLEASE ALSO SO I DONT GET SUED THIS IS POWERED BY LAST.FM
<br>
</span>
<br>

Recent Games:<br>
<span id="recentgames">
valve... made... steam... holy shit.
<br>
</span>
<br>

Fav Games:<br>
<a href="//minecraft.net" target="_blank">Minecraft</a><br>
<a href="//deltarune.com" target="_blank">Deltarune</a><br>
<a href="//store.steampowered.com/app/4000/" target="_blank">Garrys Mod</a><br>
<a href="//splatoon.nintendo.com/" target="_blank">Splatoon</a><br>
<a href="//en.wikipedia.org/wiki/Tomodachi_Life" target="_blank">Tomodachi Life</a><br> <!-- someones clearly loved more -->
<a href="//animalcrossing.nintendo.com/" target="_blank">Animal Crossing</a><br>
<a href="//en.wikipedia.org/wiki/Marble_Blast_Ultra" target="_blank">Marble Blast Ultra</a><br>
<a href="//store.steampowered.com/app/1118200/" target="_blank">People Playground</a><br>
<a href="//store.steampowered.com/app/751780/" target="_blank">Forager</a><br> <!-- why does google say in stock for steam games lmao -->
<a href="//store.steampowered.com/app/400/" target="_blank">Portal 1</a><br>
<a href="//store.steampowered.com/app/620/" target="_blank">Portal 2</a><br>
<a href="//store.steampowered.com/app/70/" target="_blank">Half-Life 1</a><br> <!-- i played most of it in vr lmao (also still a really fun experience tbh) -->
<a href="//store.steampowered.com/app/220/" target="_blank">Half-Life 2</a><br>
<a href="//store.steampowered.com/app/723390/" target="_blank"><s>Half-li</s></a><br> <!-- lmao -->
<a href="//store.steampowered.com/app/1150690/" target="_blank">Omori</a><br>
<a href="/death" target="_blank">AMONGUS</a><br>
<a href="//store.steampowered.com/app/481510/" target="_blank">Night in The Woods</a><br>
<a href="//store.steampowered.com/app/265930/" target="_blank">Goat Simulator</a><br>
<a href="//store.steampowered.com/app/3480/" target="_blank">Peggle</a><br>
<a href="//store.steampowered.com/app/250260/" target="_blank">Jazzpunk</a><br>
<a href="//store.steampowered.com/app/2475490/" target="_blank">Mouthwashing</a><br>
<a href="//www.ign.com/games/uno-2006" target="_blank">UNO (Xbox 360)</a><br> <!-- tried to get an archive of the store page (failed) -->
<a href="//en.wikipedia.org/wiki/Minecraft:_Story_Mode" target="_blank">Minecraft Story Mode</a>
<!-- still pissed off about the season pass disk that didnt PASS THE WHOLE FUCKING SEASON YOU ASSHOLES IM GLAD YOU WENT BANKRUPT -->
<br><br>

Fav Movies:<br>
Scott Pilgrim VS. The World<br>
A Minecraft Movie<br> 
The Truman Show<br>
Spider-Man (2002)<br>
Spider-Man 2<br>
Spider-Man 3<br>
The Amazing Spider-Man<br>
The Amazing Spider-Man 2<br>
Spider-Man: Homecoming<br>
Spider-Man: Far From Home<!-- okay this one was sorta mid ima be fr --><br>
Spider-Man: No Way Home<br>
Into The Spider-Verse<br>
Beyond the Spider-Verse<!--<br>
Spider-Man: Brand New Day-->
<br><br>

Fav Shows:<br>
Smiling Friends<br>
Invader Zim<br>
Adventure Time<br>
Teen Titans<br>
my Little Pony (FIM)<br>
Scott Pilgrim Takes Off<br>
Steven Universe (gladly)<br>
Gravity Falls<br>
Aggretsuko<br>
Bee And PuppyCat<br>
Inside Job
<br><br>

Fav WebToons:<br> <!-- glorified excuse to show there she is -->
<a href="https://www.newgrounds.com/series/there-she-is">떳다 그녀!!! (There She Is!!!)</a><br>
<a href="https://www.youtube.com/@Piemations">piemations (full channel)</a><br>
<br><br>

Socials:<br>
{socials
.filter(item => !item.adult)
.map(item => (
<a title={item.title} href={item.url} target="_blank">{item.title}</a><br>
))}
</div>

<div class="blurbs">

<div class="blurb">
<b>About Me:</b><br>
hey there, im alice/nova and im an <span id="age">age</span> old developer doing random shit<br>
i enjoy hacking consoles and messing with technology<br>
this site is entirely self developed, you can find the source on <a target="_top" href="https://git.gay/bathtubfulloftoast/novassite">git.gay</a>
</div>

<div class="blurb">
<b>Latest Blog Posts:</b><br>
{
posts
.filter(posts => !posts.data.hidden)
.slice(0,5)
.map((post) => (
<a href={`/blog/${post.id}/`} target="blank">{post.data.title}</a><br>
))
}
</div>

<div class="blurb">
<b>Last.fm Stats:</b><br>
<span id="fmstats">9999 total scrobbles<br>
im only 1 more till 10000!<br>
thats around 3 minutes worth of music...<br>
itl take about 3 minutes to reach my goal<br>
(with an average of 20000 songs per day)</span>
</div>

<div id="activities"></div>

<div id="serverstats" class="blurb">
<b>Server Stats:</b><br>
Site up for: [5 hour(s) / 20 minute(s) / 3 second(s)]<br>
Cpu Temp: [47]&deg;C<br>
LoadAVG: [0,0,0]
</div>

<div class="blurb">
<b>Character Wiki:</b><br>
usually i like host a little wiki for my characters with mediawiki<br>
however considering my absolute hatred for datbases and docker reinstalling it has taken way too fucking long.<br>
usually its hosted at <a target="_top" href="//wiki.novassite.net">wiki.novassite.net</a> but right now its nothing.
</div>

<div class="blurb">
<b>Miscellaneous Projects:</b><br>
since development is my primary hobby i tend to make alot of other little things that cant really fit anywhere proper.<br>
so <a target="_top" href="/misc">i made a little area to put them all</a>, this is meant to be a basic list of stuff.<br>
some things are redirects since they might be a little more important or space consuming.
</div>

<div class="blurb">
<b>Discord:</b><br>
<i>fun fact:</i> this site also runs <a target="_top" href="/discord/bot">a discord bot</a><br>
if you want to test it <a target="_top" href="/discord/server">join my server!</a><br>
also if youre looking for something that can show off your discord profile without forcing people to friend you <a target="_top" href="/discord/user/#471806482648924174">i made something for that!</a>
</div>

<div class="blurb">
<b>File Dump:</b><br>
in my ever running journey to publicize random shit ive made a <a target="_top" href="//cdn.novassite.net/dump">file dump</a>. <br>
currently it runs on <a target="_top" href="https://github.com/9001/copyparty/">copyparty</a> however i have a list of <a target="_top" href="/blog/alternatives/#file-servers-google-drive">alternatives</a> if you want to do something like this yourself
</div>

<div class="blurb">
<b>Nintendo Wii:</b><br>
<img fetchPriority="low" src="/media/wii.jpg" height="100px" width="400px">
</div>

<div class="blurb">
<b>Badges:</b><br><br>
<div class="badges">
<section id="badges">
    {badges.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" fetchPriority="low" id={item.id} src={`/media/badges/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

<div class="blurb">
<b>Stamps:</b><br><br>
<div class="badges">
<section id="stamps">
    {stamps.map((item) => (
        <a title={item.title} href={item.url} target="_blank">
            <img decoding="async" loading="lazy" fetchPriority="low" id={item.id} src={`/media/stamps/${item.source}`} alt={item.title} />
        </a>
    ))}
</section>
</div>
</div>

    <Footer />


</div>

</div>

<script src="/src/scripts/discordprofile.js"></script>
<script src="/src/scripts/topfm.js"></script>
<script src="/src/scripts/recentfm.js"></script>
<script src="/src/scripts/randomsite.js"></script>
<script src="/src/scripts/oneko.js"></script>
<script src="/src/scripts/steamrecent.js"></script>
<script src="/src/scripts/fmbackup.js"></script>
<script src="/src/scripts/stats.js"></script>
<script src="/src/scripts/birthday.js"></script>
<script src="/src/scripts/click.js"></script>
