---
import "bootstrap-icons/font/bootstrap-icons.min.css";

import links from '/src/assets/links.json';
const socials = links[2] ?? [];

import '/src/styles/colors.css';

---

<head>
<title>Novas Links</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<meta name="generator" content={Astro.generator} />
<meta content="Novas Links" property="og:title" />
<meta content="every link to all my socials!" property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://novassite.net/blog/rss.xml">

<style>
body {
background:var(--bg0);
color:var(--fg);
text-align:center;
font-family: Arial, sans-serif;
}

.link {
    background:var(--bg2);
    border:var(--bg4) 3px solid;
    border-radius:1em;
    margin:auto;
    text-align:center;
    font-size:30px;
    margin-bottom:15px;
    display:inline-block;
    padding:10px;
    transition: transform 0.2s ease;
    cursor:pointer;
}

.link:hover {
transform: scale(1.2);
}

a {
text-decoration:none;
}

a:link, a:visited {
color:var(--fg2);
}

#pfp {
width:180px;
background:var(--bg1);
border-radius:100%;
border:var(--bg4) 5px solid;
}

.links {
margin-top:25px;
}
</style>
</head>

<img id="pfp" src="/media/pfp.png">
<h1 id="name">bathtubfulloftoast</h1>
<h2 id="splash">"you know what they say, all toasters toast toast!"</h2>
<b id="warning">youve been ridirected to a version of the site more well suited to fit your screen<br>if you still want to go to the main page click <i>Main Site</i> below!</b>

<div class="links">
<div class="link"><a title="Main Page" href="/#fromtree" target="_top"><i class="bi bi-house-door-fill"></i> Main Site</a></div><br>

<div class="link"><a title="GuestBook" href="/guestbook" target="_top"><i class="bi bi-journal"></i> GuestBook</a></div><br>

<div class="link"><a title="Blog" href="/blog" target="_top"><i class="bi bi-book"></i> Blog</a></div><br>

<div class="link"><a title="Misc" href="/misc" target="_top"><i class="bi bi-puzzle"></i> Misc</a></div><br>

{socials
.filter(item => !item.adult)
.map((item) => (
<div class="link"><a title={item.title} href={item.url} target="_blank"><i class={"bi bi-"+item.source}></i> {item.title}</a></div><br>
))}
</div>

<script>
let hash = window.location.hash; // Get the hash from the URL
let hashValue = hash.substring(1); // Remove the '#' character

if (hashValue !== "warn") {
document.getElementById("warning").remove();
} else {
history.replaceState('', '', '/tree/');
}
</script>

<script>
document.addEventListener("DOMContentLoaded", async function() {

const response = await fetch('/api/discord');
// const response = await fetch('/discord.json');
// const response = await fetch('/ass.json');

let data = await response.json();

const nickname = data.nickname;
const avatarid = data.avatar;
const userid = data.id;
const onlinestatus = data.status;
const accent = data.accentColor;

var coverimage = document.getElementById("pfp");
coverimage.src = `https://cdn.discordapp.com/avatars/${userid}/${avatarid}.webp?size=512`;

coverimage.onerror = function () {
coverimage.src = '/media/pfp.png';
};

if(nickname) {
document.getElementById("name").innerHTML = nickname;
}

for (var item of data.activities) {
if (item.type == 4) {
if (item.state) {
document.getElementById("splash").innerHTML = "&quot;"+item.state+"&quot;";
break;
}}}

coverimage.style.border = "5px solid var(--bg2)";

if(accent) {
coverimage.style.backgroundColor = "#"+accent.toString(16).padStart(6, "0");
} else {
coverimage.style.backgroundColor = "var(--bg3)";
}

if (onlinestatus == "online") {
coverimage.style.borderColor = "var(--green)";
} else if (onlinestatus == "idle") {
coverimage.style.borderColor = "var(--yellow)";
} else if (onlinestatus == "dnd") {
coverimage.style.borderColor = "var(--red)";
}

});

</script>
