---
import { type CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

import '/src/styles/blog.css';
import '/src/styles/colors.css';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<html lang="en">
<meta charset="utf-8" />

<head>
<title>{title}</title>
<meta name="viewport" content="width=device-width" />


<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<script src="/src/scripts/click.js"></script>
</head>

<body>
<div class="topbox">
<h1>{title}</h1>
<h2>{description}</h2>

<FormattedDate date={pubDate} />
</div>

<hr />

<div class="content">
<slot />
</div>

<div class="past">
<b>Previous Posts:</b><br>
{
posts
.filter(posts => !posts.data.hidden)
.filter(posts => posts.data.title !== title)
.slice(0,5)
.map((post) => (
<a href={`/blog/${post.id}/`}>{post.data.title}</a><br>
))
}
</div>

</body>
</html>
